fastapi[standard]
langchain-community==0.3.24
unstructured-client==0.36.0
langchain-unstructured==0.1.6
langchain-ollama==0.3.3
langchain-qdrant==0.2.0
redis==6.2.0
unstructured==0.17.2
python-multipart==0.0.20
torch==2.7.1
FlagEmbedding==1.3.5 
# markdownify==1.1.0
# pyhtml2md==1.7.0
html2text==2025.4.15
pypdf2==3.0.1
